<% if !gradient %>
	<% gradient = @new_gradient %>
<% end %>

<div class="row position">
	<%= f.select :position, 1..@gradients.size, {:selected => gradient.position}, {:class => 'position'} %>
</div>

<div class="row file">
	<% if gradient.persisted? %>
		<% @upload_img = gradient.file %>
	<% end %>

	<div class="drop image" style="background-image:url(<%= @upload_img %>)">
		<%= f.file_field(:file, :data => {:position => gradient.position}) %>
	</div>
</div>

<div class="actions">
	<% if gradient.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + gradient.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'gradients', :action => 'delete', :id => gradient.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<div class="tip">
			Drop file here.
		</div>	
		<%= link_to('Create', "#", :onclick => "$('#" + gradient.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>