<% if !gradient %>
	<% gradient = @new_gradient %>
<% end %>
<h3 class="name"><%= gradient.name %></h3>

<div class="file">
	<% if gradient.file.exists? %>
		<% @upload_img = gradient.file.to_s %>
	<% end %>

	<div class="drop image" style="background-image:url(<%= @upload_img %>)">
		<%= f.file_field(:image) %>
	</div>
</div>

<div class="actions">
	<% if gradient.position == @gradients.count+1 %>
		<%= link_to('Save', "#", :onclick => "$('#" + gradient.name.parameterize + "').submit()", :class => "action submit") %>
	<% else %>
		<%= link_to("Delete", {:controller => 'gradients', :action => 'delete', :id => gradient.id}, :class => 'action delete') %>
	<% end %>
</div>