<h1>
	<%= link_to("+", {:action => 'new'}, :class => 'action new symb') %>
	<%= pluralize(@admins.size, "Admins") %>
</h1>
<ul id="admins">
	<% @admins.each do |admin| %>
		<li>
			<%= admin.username %>
			<%= link_to("Show", {:action => 'show', :id => admin.id}, :class => 'action show') %> &nbsp;
			<%= link_to("Edit", {:action => 'edit', :id => admin.id}, :class => 'action edit') %> &nbsp;
			<%= link_to("Delete", {:action => 'delete', :id => admin.id}, :class => 'action delete') %>
		</li>
	<% end %>
</ul>