<% if !palette %>
	<% palette = @new_palette %>
<% end %>

<div class="row position">
	<% if palette.persisted? %>
		<%= f.select :position, 1..@palettes.size, {:selected => palette.position}, {:class => 'position'} %>
	<% else %>
		<%= f.select :position, 1..@palettes.size, {:include_blank => "New"}, {:class => 'position'} %>
	<% end %>
</div>

<div class="swatch">
	<%= f.text_field(:primary_color, :class => "color", :style => "background-color: " + palette.primary_color.to_s + "; color: " + palette.secondary_color.to_s) %>
	<%= f.text_field(:secondary_color, :class => "color", :style => "background-color: " + palette.secondary_color.to_s + "; color: " + palette.primary_color.to_s) %>
</div>
<div class="actions">
	<% if palette.persisted? %>
		<%= link_to("Preview", {:controller => 'public', :action => 'index', :palette => palette.id}, :class => 'action preview') %>
		<%= link_to('Update', "#", :onclick => "$('#" + palette.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'palettes', :action => 'delete', :id => palette.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + palette.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>