<h1 id="page_title">Students</h1>

<%#= form_for(:student, :url => {:action => 'update', :id => 1}) do |f| %>
	<%#= render(:partial => "form", :locals => {:f => f}) %>
	<%#= submit_tag("Update") %>
<%# end %>

<section id="works">
	<div>
		<%= link_to("Add new work", {:controller => 'works', :action => 'new'}, :class => 'action new symb') %>
	</div>
	</br>
	<% @works.each do |work| %>
		<div class="work">
			<div class="image_holder">
				<% if work.image.exists? %>
					<%= image_tag work.image.url(:thumb) %>
				<% end %>
			</div>
			<div class="info_holder">
				<h3 class="name"><%= work.name %></h3>
				<h4 class="designer"><%= work.designer %></h4>
				<p class="caption"><%= work.caption %></p>
				<%= link_to("Show", {:controller => 'works', :action => 'show', :id => work.id}, :class => 'action show') %> &nbsp;
				<%= link_to("Edit", {:controller => 'works', :action => 'edit', :id => work.id}, :class => 'action edit') %> &nbsp;
				<%= link_to("Delete", {:controller => 'works', :action => 'delete', :id => work.id}, :class => 'action delete') %>
			</div>
		</div>
	<% end %>
</section>