<% if !faculty %>
	<% faculty = @new_faculty %>
<% end %>

<div class="row name">
	<div class="half first_name">
		<%= f.text_field(:first_name, :placeholder => "First name") %>
	</div>
	<div class="half last_name">
		<%= f.text_field(:last_name, :placeholder => "Last name") %>
	</div>
</div>
<div class="row email with_position">
	<%= f.text_field(:email, :placeholder => "E-mail") %>
	<%= f.select :position, 1..@faculties.size, {:selected => faculty.position}, {:class => 'position'} %>
</div>
<%= f.fields_for :alma_maters do |am| %>
	<div class="row alma_mater">
		<%= am.text_field(:college, {:placeholder => "College", :class => 'college'}) %>
		<%= am.text_field(:degree, {:placeholder => "Degree", :class => 'degree'}) %>
	</div>
<% end %>
<div class="actions">
	<% if faculty.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + faculty.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'faculties', :action => 'delete', :id => faculty.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + faculty.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>