<section class="masonry swapper" id="faculties">
	<% @faculties.each do |faculty| %>
		<div class="faculty block">
			<div class="text name">
				<%= faculty.name %>
			</div>
			<div class="text alma_maters hidden">
				<%= faculty.name + " received " %> 
				<% faculty.alma_maters.new_to_old.each_with_index do |am, index| %>
					<%= am.degree.indefinitize + ' from ' + am.college + sentencize(faculty.alma_maters.size, index) %>
				<% end %>
			</div>
			<div class="text email hidden">
				<%= mail_to(faculty.email) %>
			</div>
			<div class="text title hidden">
				<%= faculty.title %>
			</div>
		</div>
	<% end %>
</section>