<h1 id="page_title">Faculty</h1>
<section class="clear" id="faculty">
	<div class="block">
		<% @faculties.each_with_index do |faculty, index| %>
			<div class="faculty" style="bottom: <%= @shift %>px; left: <%= @shift %>px;">
				<h3><%= faculty.name %></h3>
				<p><%= faculty.summary %></p>
				<% faculty.alma_maters.each do |am| %>
					<ul>
						<li><%= am.degree %></li>
						<li><%= am.college %></li>
						<li><%= am.year %></li>
					</ul>
				<% end %>
				<p><%= mail_to faculty.email %></p>
			</div>
		<% end %>
	</div>
</section>