<div class="row position">
	<%= f.select :position, 1..@works.size, {:selected => work.position}, {:class => 'position'} %>
</div>
<% if !work.persisted? %>
	<div class="row media_type">
		<%= f.label :media_type, "Type:" %>
		<%= f.select :media_type, options_for_select(@media_types, :selected => f.object.media_type) %>
	</div>
<% end %>
<div class="row file">
	<% if work.persisted? %>
		<% bg_img = work.image.url(:small).to_s %>
	<% else %>
		<% bg_img = @upload_img %>
	<% end %>
	
	<div class="drop video" style="background-image:url(<%= @upload_img %>)">
		<%= f.file_field(:video, :data => {:position => work.position}) %>
		<% if work.video.exists? %>
			<%= render(:partial => "application/player", :locals => {:video => work.video.url(:medium)}) %>
		<% end %>
	</div>

	<div class="drop image" style="background-image:url(<%= bg_img %>)">
		<%= f.file_field(:image, :data => {:position => work.position}) %>
	</div>
</div>
<div class="row designer">
	<%= f.text_field(:designer, :placeholder => "Designer") %>
</div>

<div class="actions">
	<% if work.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + work.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'works', :action => 'delete', :id => work.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<div class="tip">
			Drop file here.
		</div>	
		<%= link_to('Create', "#", :onclick => "$('#" + work.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>