<div class="row position">
	<% if work.persisted? %>
		<%= f.select :position, 1..@works.size, {:selected => work.position}, {:class => 'position'} %>
	<% else %>
		<%= f.select :position, 1..@works.size, {:include_blank => "New"}, {:class => 'position'} %>
	<% end %>
</div>
<% if !work.persisted? %>
	<div class="row media_type">
		<%= f.label :media_type, "Type:" %>
		<%= f.select :media_type, options_for_select(@media_types, :selected => f.object.media_type) %>
	</div>
<% end %>
<%#= f.hidden_field(:media_type, :value => "image") %>
<div class="row file">
	<% if work.persisted? %>
		<% if work.media_type == 'image' %>
			<% bg_img = work.image.url(:small).to_s %>
		<% else %>
			<% bg_img = work.video.url(:thumb).to_s %>
		<% end %>
	<% else %>
		<% bg_img = @upload_img %>
	<% end %>

	<% if work.media_type == 'video' || work.media_type.nil? %>
		<div class="drop video" style="background-image:url(<%= bg_img %>)">
			<% if work.persisted? %>
				<%= video_tag work.video.url(:mp4), controls: true, type: "video/mp4", size: "400x400" %>
			<% end %>
			<%= f.file_field(:video, :data => {:position => work.position}) %>
		</div>
	<%end %>
	<% if work.media_type == 'image' || work.media_type.nil? %>
		<div class="drop image" style="background-image:url(<%= bg_img %>)">
			<%= f.file_field(:image, :data => {:position => work.position}) %>
		</div>
	<% end %>

</div>
<div class="row designer">
	<%= f.text_field(:designer, :placeholder => "Who made this?") %>
</div>
<div class="actions">
	<% if work.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + work.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'works', :action => 'delete', :id => work.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<div class="tip">
			Drop your file in the square
		</div>	
		<%= link_to('Create', "#", :onclick => "$('#" + work.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>