<h3 class="name"><%= work.name %></h3>

<div class="file">
	<% if work.image.exists? %>
		<div class="image" style="background-image:url('<%= work.image.url(:small) %>')"></div>
	<% else %>
		<div class="drop">
			<%= f.file_field(:image) %>
		</div>
	<% end %>
</div>

<div class="actions">
	<% if work.position == @works.count+1 %>
		<%= link_to('Save', "#", :onclick => "$('#" + work.name.parameterize + "').submit()", :class => "action submit") %>
	<% else %>
		<%= link_to("Delete", {:controller => 'works', :action => 'delete', :id => work.id}, :class => 'action delete') %>
	<% end %>
</div>