<div class="horz_center">
	<section class="vert_center" id="works">
		<div class="stack">
			<% @works.each do |work| %>
				<div data-position="<%= work.position %>" class="work media <%= work.media_type %>" <%= color('bg', @p, 'border', @s) %>>
					<div class="mousepad"></div>
					<div class="media_wrapper">
						<% if work.media_type == 'image' %>
							<%= image_tag work.image.url(:medium) %>
						<% else %>
							<%= render(:partial => "application/player", :locals => {:video => work.video.url(:medium)}) %>
						<% end %>
					</div>
					<% if !work.designer.nil? && !work.designer.blank? %>
						<div data-position="<%= work.position %>" class="designer small" <%= color('color', @s, 'bg', @p, 'border', @s) %>>
							<%= work.designer %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
</div>