<h1>
	<%= link_to("\u2B05", {:action => 'index'}, :class => 'back-link symb') %>
	<%= @group.name %>
</h1>
<span><%= @group.slug %></span>
<ul>
	<li><%= @group.people.size %></li>
	<li><%= @group.visible ? 'Visible' : 'Invisible' %></li>
	<li>Created on <%= @group.created_at.to_s(:simple) %></li>
	<li>Last updated on <%= @group.updated_at.to_s(:simple) %></li>
</ul>
<%= link_to("Edit", {:action => 'edit', :id => @group.id}, :class => 'action edit') %> &nbsp;
<%= link_to("Delete", {:action => 'delete', :id => @group.id}, :class => 'action delete') %>
