<% @page_title = 'Admin' %>
<div id="top_bar">
	<nav>
		<div id="nav_wrapper">
			<ul id="nav_links">
				<li class="nav_link"><%= active_link_to("Work", {:controller => 'works', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Faculty", {:controller => 'faculty', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Alumni", {:controller => 'alumni', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Weblog", {:controller => 'weblog', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Resources", {:controller => 'resources', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Apply", {:controller => 'apply', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Palettes", {:controller => 'palettes', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Gradients", {:controller => 'gradients', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Patterns", {:controller => 'patterns', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Logos", {:controller => 'logos', :action => 'admin'}) %></li>
				<li class="nav_link"><%= active_link_to("Admins", :controller => "admins") %></li>
				<% if admin? %>
					<li class="nav_link"><%= active_link_to("Logout", {:controller => 'access', :action => 'logout'}) %></li>
				<% else %>
					<li class="nav_link"><%= active_link_to("Login", {:controller => 'access', :action => 'login'}) %></li>
				<% end %>

			</ul>
		</div>
	</nav>
</div>


