<h1 id="page_title">Events</h1>

<section id="events">
	<div>
		<%= link_to("Add new event", {:controller => 'events', :action => 'new'}, :class => 'action new symb') %>
	</div>
	</br>
	<% @events.each do |event| %>
		<div class="event">
			<% if event.image.exists? %>
				<div class="image_holder">
					<%= image_tag event.image.url(:thumb) %>
				</div>
			<% end %>
			<div class="info_holder">
				<h3 class="name"><%= event.name %></h3>
				<h4 class="designer"><%= event.date %></h4>
				<p class="caption"><%= event.summary %></p>
				<%= link_to("Show", {:controller => 'events', :action => 'show', :id => event.id}, :class => 'action show') %> &nbsp;
				<%= link_to("Edit", {:controller => 'events', :action => 'edit', :id => event.id}, :class => 'action edit') %> &nbsp;
				<%= link_to("Delete", {:controller => 'events', :action => 'delete', :id => event.id}, :class => 'action delete') %>
			</div>
		</div>
	<% end %>
</section>