<h1>
	<%= link_to("\u2B05", {:controller => 'community', :action => 'admin'}, :class => 'back-link symb') %>
	<%= @event.name %>
</h1>
<%= form_for(:event, :url => {:action => 'update', :id => @event.id}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>
	<%= submit_tag("Update") %>
<% end %>
