<% if !pattern %>
	<% pattern = @new_pattern %>
<% end %>
<h3 class="name"><%= pattern.name %></h3>

<div class="file">
	<% if pattern.persisted? %>
		<% @upload_img = pattern.tile.url(:original) %>
	<% end %>

	<div class="drop image" style="background-image:url(<%= @upload_img %>)">
		<%= f.file_field(:tile) %>
	</div>
</div>

<div class="actions">
	<% if pattern.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + pattern.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'logos', :action => 'delete', :id => logo.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + pattern.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>