<% if !pattern %>
	<% pattern = @new_pattern %>
<% end %>

<div class="row position">
	<%= f.select :position, 1..@patterns.size, {:selected => pattern.position}, {:class => 'position'} %>
</div>

<div class="row file">
	<% if pattern.persisted? %>
		<% @upload_img = pattern.image.url(:original) %>
	<% end %>

	<div class="drop image" style="background-image:url(<%= @upload_img %>)">
		<%= f.file_field :image, :data => {:position => pattern.position} %>
	</div>
</div>

<div class="actions">
	<% if pattern.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + pattern.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'patterns', :action => 'delete', :id => pattern.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<div class="tip">
			Drop file here.
		</div>	
		<%= link_to('Create', "#", :onclick => "$('#" + pattern.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>