<h1>
	<%= link_to("\u2B05", {:controller => 'patterns', :action => 'admin'}, :class => 'back-link symb') %>
	Are you sure you want to delete <u><%= @pattern.name %></u>?
</h1>
<%= form_for(:pattern, :url => {:action => 'destroy', :id => @pattern.id}) do |f| %>
	<%= submit_tag("YES") %>
<% end %>
<ul>
	<li><%= @pattern.name %></li>
</ul>
