<% if !alumnus %>
	<% alumnus = @new_alumnus %>
<% end %>

<div class="row name">
	<div class="half first_name">
		<%= f.text_field(:first_name, :placeholder => "First name") %>
	</div>
	<div class="half last_name">
		<%= f.text_field(:last_name, :placeholder => "Last name") %>
	</div>
</div>
<div class="row website with_position">
	<%= f.text_field(:url, :placeholder => "Website") %>
	<%= f.select :position, 1..@alumni.size, {:selected => alumnus.position}, {:class => 'position'} %>
</div>
<div>
	
</div>
<div class="actions">
	<% if alumnus.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + alumnus.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'alumni', :action => 'delete', :id => alumnus.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + alumnus.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>