<% if !alumnus %>
	<% alumnus = @new_alumnus %>
<% end %>

<div class="row position">
	<% if alumnus.persisted? %>
		<%= f.select :position, 1..@alumni.size, {:selected => alumnus.position}, {:class => 'position'} %>
	<% else %>
		<%= f.select :position, 1..@alumni.size, {:include_blank => "New"}, {:class => 'position'} %>
	<% end %>
</div>
<div class="row name">
	<div class="half first_name">
		<%= f.text_field(:first_name, :placeholder => "First name") %>
	</div>
	<div class="half last_name">
		<%= f.text_field(:last_name, :placeholder => "Last name") %>
	</div>
</div>
<div class="row website">
	<%= f.text_field(:url, :placeholder => "Website") %>
</div>

<div class="row">
	<div class="file">
		<% if alumnus.persisted? && alumnus.image.exists? %>
			<% bg_img = alumnus.image %>
		<% else %> 
			<% bg_img = @upload_img %>
		<% end %>
		<div class="drop image" style="background-image:url(<%= bg_img %>)">
			<%= f.file_field(:image, :data => {:position => alumnus.position}) %>
		</div>
	</div>
</div>
<div class="actions">
	<% if alumnus.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + alumnus.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'alumni', :action => 'delete', :id => alumnus.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + alumnus.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>