<h1>
	<%= link_to("+", {:action => 'new'}, :class => 'action new symb') %>
	<%= pluralize(@alumni.size, "Alumnus") %>
</h1>
<ul id="alumni">
	<% @alumni.each do |alumnus| %>
		<li>
			<%= alumnus.position %> &nbsp;
			<strong><%= alumnus.name %></strong>
			by <%= alumnus.year %>
			<%= link_to("Show", {:action => 'show', :id => alumnus.id}, :class => 'action show') %> &nbsp;
			<%= link_to("Edit", {:action => 'edit', :id => alumnus.id}, :class => 'action edit') %> &nbsp;
			<%= link_to("Delete", {:action => 'delete', :id => alumnus.id}, :class => 'action delete') %>
		</li>
	<% end %>
</ul>