<% if admin? %>
	<div id="instructions">
		HTML is allowed.
	</div>
<% end %>
<section id="aboutContainer">
	<% if !@dept.nil? %>
		<div class="block">
			<% if @dept.persisted? %>
				<%= form_for(@dept, :url => {:action => 'update', :id => @dept.id}, :html => { :id => 'dept', :class => 'new', :method => :post}) do |f| %>
					<%= render(:partial => "form", :locals => {:f => f, :placeholder => "About the department", :save_id => "dept"}) %>
				<% end %>
			<% else %>
				<%= form_for(@dept, :url => {:action => 'create', :id => @dept.id}, :html => { :id => 'dept', :class => 'new', :method => :post}) do |f| %>
					<%= render(:partial => "form", :locals => {:f => f, :placeholder => "About the department", :save_id => "dept"}) %>
				<% end %>
			<% end %>
		</div>
	<% end %>

	<% if !@site.nil? %>
		<div class="block">
			<% if @site.persisted? %>
				<%= form_for(@site, :url => {:action => 'update', :id => @site.id}, :html => { :id => 'site', :class => 'new', :method => :post}) do |f| %>
					<%= render(:partial => "form", :locals => {:f => f, :placeholder => "About the site", :save_id => "site"}) %>
				<% end %>
			<% else %>
				<%= form_for(@site, :url => {:action => 'create', :id => @site.id}, :html => { :id => 'site', :class => 'new', :method => :post}) do |f| %>
					<%= render(:partial => "form", :locals => {:f => f, :placeholder => "About the site", :save_id => "site"}) %>
				<% end %>
			<% end %>
		</div>
	<% end %>

</section>