<% if !resource %>
	<% resource = @new_resource %>
<% end %>

<div class="row name">
		<%= f.text_field(:name, :placeholder => "Name") %>
</div>
<div class="row email">
	<%= f.text_field(:link, :placeholder => "Link") %>
</div>

<div class="file">
	<% if resource.image.exists? %>
		<div class="drop image" style="background-image: url(<%= resource.image.url(:small) %>)">
			<%= f.file_field(:image) %>
		</div>
	<% else %>
		<div class="drop">
			<%= f.file_field(:image) %>
		</div>
	<% end %>
</div>

<div class="actions">
	<%= link_to('Save', "#", :onclick => "$('#" + resource.position.to_s + "').submit()", :class => "action submit") %>
	<% if resource.id? %>
		<%= link_to("Delete", {:controller => 'resources', :action => 'delete', :id => resource.id}, :class => 'action delete') %>
	<% end %>
</div>