<% if !resource %>
	<% resource = @new_resource %>
<% end %>

<div class="row name">
	<%= f.text_field(:name, :placeholder => "Name") %>
</div>
<div class="row link">
	<%= f.text_field(:link, :placeholder => "Link") %>
</div>
<div class="row file">
	<% if resource.persisted? %>
		<% @upload_img = resource.image.url(:original) %>
	<% end %>

	<div class="drop image" style="background-image:url(<%= @upload_img %>)">
		<%= f.file_field(:image) %>
	</div>
</div>

<div class="actions">
	<% if resource.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + resource.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'resources', :action => 'delete', :id => resource.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + resource.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>