<% if !logo %>
	<% logo = @new_logo %>
<% end %>
<h3 class="name"><%= logo.name %></h3>

<div class="file">
		<% if logo.file.exists? %>
			<div class="drop">
			<%= inline_svg(logo.file, true) %>
		<% else %>
			<div class="drop image" style="background-image:url(<%= @upload_img %>)">
		<% end %>
		<%= f.file_field(:file) %>
	</div>
</div>

<div class="actions">
	<% if logo.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + logo.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'logos', :action => 'delete', :id => logo.id}, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + logo.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>