<h1>
	<%= link_to("\u2B05", {:controller => 'logos', :action => 'admin'}, :class => 'back-link symb') %>
	Are you sure you want to delete <u><%= @logo.name %></u>?
</h1>
<%= form_for(:logo, :url => {:action => 'destroy', :id => @logo.id}) do |f| %>
	<%= submit_tag("YES") %>
<% end %>
<ul>
	<li><%= @logo.name %></li>
</ul>
