<section id="courses">
	<% @course_list.each do |year| %>
		<div class="year">
			<h2><%= year[:name] %> Year</h2>
			<% year[:semesters].each do |semester| %>
				<% if semester[:courses].any? %>
					<div class="semester">
						<h3><%= semester[:name] %></h3>
						<% semester[:courses].each do |course| %>
							<div class="course" <%= color('border', @s) %>>
								<div class="text">
									<% if course[:required] %>
										<div class="required">Required</div>
									<% end %>
									<h2 class="name">
										<%= course.name %>
									</h2>
									<div class="inner">
										<div class="about">
											<%= course.about.html_safe %>
										</div>
										<% if course.course_images.any? %>
											<div class="images masonry">
												<% course.course_images.each do |ci| %>
													<div class="image block" <%= color('bg', @p, 'border', @s) %>>
														<%= image_tag ci.image.url(:medium) %>
													</div>
												<% end %>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</section>