<section id="course">
	<div class="course" <%= color('border', @s) %>>
		<div class="text">
			<% if @course[:required] %>
				<h5 class="required">Required</h5>
			<% end %>
			<h2 class="name">
				<%= @course.name %>
			</h2>
			<div class="inner">
				<div class="about">
					<%= @course.about.html_safe %>
				</div>
				<% if @course.course_images.any? %>
					<div class="stack">
						<% @course.course_images.each_with_index do |ci, i| %>
							<div data-position="<%= i %>" class="course_image image media" <%= color('bg', @p, 'border', @s) %>>
								<div class="mousepad"></div>
								<div class="media_wrapper">
									<%= image_tag ci.image.url(:medium) %>
								</div>
							</div>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<br/><br/>
	<h4><%= active_link_to("Back to courses", {:controller => 'courses', :action => 'index'}, :id => 'courses') %></h4>
</section>