<% if !post %>
	<% post = @new_post %>
<% end %>

<div class="row title">
	<%= f.text_field(:title, :placeholder => "Title") %>
</div>

<div class="images">
	<%= f.fields_for :post_images do |pi| %>
		<% if pi.object.image.exists? %>
			<% image = pi.object.image.url(:medium) %>
			<div class="image drop" style="background-image:url(<%= image %>)">
				<div class="destroy">
					<%= pi.check_box(:_destroy) %>
					<%= pi.label(:_destroy, '&nbsp;'.html_safe) %>
				</div>
		<% else %>
			<div class="image drop" style="background-image:url(<%= @upload_img %>)">
		<% end %>
				<%= pi.file_field(:image) %>
			</div>
	<% end %>
</div>

<div class="row body">
	<%= f.text_area(:body, :rows => 15, :placeholder => 'What do you have to say about this?') %>
</div>

<div class="row">
	<div class="tip">
		Start and End dates are only needed for events.
	</div>
</div>

<div class="row date">
	<span>Start</span>
	<%= f.date_select(:start_date, order: [:month, :day, :year], :include_blank => true) %>
</div>
<div class="row date">
	<span>End</span>
	<%= f.date_select(:end_date, order: [:month, :day, :year], :include_blank => true) %>
</div>

<div class="actions">
	<% if post.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + post.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'posts', :action => 'delete', :id => post.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + post.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>