<section id="posts" class="masonry">
	<% @posts.each do |post| %>
		<div class="post row block">
			<div class="stack">
				<% post.post_images.each do |pi| %>
					<div class="image" <%= color('bg', @p, 'border', @s) %>>
						<div class="image_wrapper">
							<%= image_tag pi.image.url(:medium) %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="text">
				<div class="post_date">
					<%= post.created_at.to_date.to_formatted_s(:dotted)  %>
				</div>
				<h1 class="title">
					<%= post.title %>
				</h1>
					<% if !post.start_date.nil? %>
						<div class="event_date">
							<%= post.start_date.to_date.to_formatted_s(:long_ordinal)  %>
							<% if !post.end_date.nil? %>
								&nbsp;&mdash;&nbsp;<%= post.end_date.to_date.to_formatted_s(:long_ordinal)  %>
							<% end %>
						</div>
					<% end %>
				<div class="body">
					<%= post.body.html_safe %>
				</div>
			</div>
		</div>
	<% end %>
</section>