<h1>
	<%= link_to("\u2B05", {:action => 'index'}, :class => 'back-link symb') %>
	<%= @post.title %>
</h1>
<ul>
	<li><%= status(@post.visible) %></li>
	<li>Created on <%= @post.created_at.to_s(:simple) %></li>
	<li>Last updated on <%= @post.updated_at.to_s(:simple) %></li>
	<li>Associated groups: 
		<% @groups.each do |group| %>
			<%= group.name %>
		<% end %>
	</li>
	<li><%= @post.content %></li>
</ul>
<%= link_to("Edit", {:action => 'edit', :id => @post.id}, :class => 'action edit') %> &nbsp;
<%= link_to("Delete", {:action => 'delete', :id => @post.id}, :class => 'action delete') %>