<% if !apply_item %>
	<% apply_item = @new_apply_item %>
<% end %>

<div class="row position">
	<% if apply_item.persisted? %>
		<%= f.select :position, 1..@apply_items.size, {:selected => apply_item.position}, {:class => 'position'} %>
		<% else %>
			<%= f.select :position, 1..@apply_items.size, {:include_blank => "New"}, {:class => 'position'} %>
		<% end %>
</div>
<div class="row text">
	<%= f.text_area :text, :rows => 5, :placeholder => "Put application \"requirement\" here." %>
</div>


<div class="actions">
	<% if apply_item.persisted? %>
		<%= link_to('Update', "#", :onclick => "$('#" + apply_item.position.to_s + "').submit()", :class => "action submit") %>
		<%= link_to("Delete", {:controller => 'apply_items', :action => 'delete', :id => apply_item.id}, :remote => true, :class => 'action delete') %>
	<% else %>
		<%= link_to('Create', "#", :onclick => "$('#" + apply_item.position.to_s + "').submit()", :class => "action submit") %>
	<% end %>
</div>