<aside id="side_bar">
	<header>
		<div id="logo" class="secondary_fill">
			<%= inline_svg(@logo, true) %>
		</div>

	</header>
	<div id="tools" <%= color('border', @s, 'bg', @p) %>>
		<div id="style_control">
			<div id="buttons">
				
				<% case params[:controller] %>
				<% when 'works' %>
					<%= render 'works/tools' %>
				<% when 'faculties' %>
					<%= render 'faculties/tools' %>
				<% when 'alumni' %>
					<%#= render 'alumni/tools' %>
				<% when 'resources' %>
					<%#= render 'resources/tools' %>
				<% when 'apply' %>
					<%#= render 'apply/tools' %>
				<% end %>

				<div class="button method" id="clear">
					<%#= inline_svg(@clear, true) %>
				</div>

				<div class="button method" id="next_gradient">
					<%= inline_svg(@next_gradient, true) %>
				</div>

				<div class="button method" id="next_pattern" style="background-image:url(<%= @next_pattern %>)">
			
				</div>
				
				<div class="button method" id="next_logo">
					<div class="swap_arrow secondary_fill">
						<%= inline_svg('icons/swap_arrow.svg', false) %>
					</div>
					<div class="swatch next secondary_fill">
						<%= inline_svg(@next_logo, true) %>
					</div>
					<div class="swatch current secondary_fill">
						<%= inline_svg(@logo, true) %>
					</div>
					<%= render 'public/tooltip', :text => "Next logo please!" %>
				</div>
				<div class="button method" id="next_palette">
					<div class="swatch primary" <%= color('bg', @next_p) %>></div>
					<div class="swatch secondary" <%= color('border', @next_s) %>></div>
					<%= render 'public/tooltip', :text => "Gimme these colors!" %>
				</div>
			</div>
		</div>
	</div>
</aside>