<header id="logo_wrapper">
	<%= render 'public/logo', :logo => @logo %>
</header>
<div id="tools" <%= color('border', @s) %>>
	<div id="buttons">
		<div class="horz_center">
			<div id="page_specific">
				<% case params[:controller] %>
				<% when 'faculties' %>
					<%= render 'faculties/tools' %>
				<% when 'alumni' %>
					<%= render 'alumni/tools' %>
				<% when 'resources' %>
					<%= render 'resources/tools' %>
				<% end %>
			</div>
			
			<div class="button" id="next_gradient">
				<div class="method next" data-method="next_gradient" <%= color('bg', @p) %>>
					<%= render 'public/buttons/gradient', :next_gradient => @next_gradient %>
				</div>
				<div class="clear method secondary_fill" data-method="clear_gradient">
					<%= inline_svg('clear', false) %>
				</div>
			</div>

			<div class="button" id="next_pattern">
				<div class="method next" data-method="next_pattern"  <%= color('bg', @p) %>>
					<%= render 'public/buttons/pattern', :next_pattern => @next_pattern %>
				</div>
				<div class="clear method secondary_fill" data-method="clear_pattern">
					<%= inline_svg('clear', false) %>
				</div>
			</div>
			
			<%= render 'public/buttons/logo', :next_logo => @next_logo %>

			<div class="button" id="next_palette">
				<div class="method">
					<div class="swatch primary" <%= color('bg', @next_p) %>></div>
					<div class="swatch secondary" <%= color('border', @next_s) %>></div>
				</div>
			</div>
		</div>
	</div>
</div>