<header id="logo_wrapper">
	<%= render 'public/logo', :logo => @logo %>
</header>
<div id="tools" <%= color('border', @s) %>>
	<div id="buttons">
		<div class="horz_center">
			<div id="page_specific">
				<% case params[:controller] %>
				<% when 'faculties' %>
					<%= render 'faculties/tools' %>
				<% when 'alumni' %>
					<%= render 'alumni/tools' %>
				<% when 'resources' %>
					<%= render 'resources/tools' %>
				<% end %>
			</div>

			<div class="button <%= @gradient_state %>">
				<div class="method" id="next_gradient"  <%= color('bg', @p) %>>
					<%= inline_svg(@next_gradient, true) %>
				</div>
				<%= render 'public/tooltip', :text => "Select gradient" %>
				<div class="clear method secondary_fill" id="clear_gradient">
					<%= inline_svg('clear', false) %>
				</div>
			</div>

			<div class="button <%= @pattern_state %>">
				<div class="method"  id="next_pattern" style="background-image:url(<%= @next_pattern %>)">
				</div>
				<div class="clear method secondary_fill" id="clear_pattern">
					<%= inline_svg('clear', false) %>
				</div>
			</div>
			
			<%= render 'public/buttons/logo', :next_logo => @next_logo %>

			<div class="button">
				<div class="method" id="next_palette">
					<div class="swatch primary" <%= color('bg', @next_p) %>></div>
					<div class="swatch secondary" <%= color('border', @next_s) %>></div>
				</div>
			</div>
		</div>
	</div>
</div>