<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
  <title>Purchase College Graphic Design Dept. | <%= @page_title || '' %></title>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "access", :media => "all", 'data-turbolinks-track' => true if !access? %>
  <%= javascript_include_tag "application", params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "access", 'data-turbolinks-track' => true if !access? %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-16">
  <meta name="google" content="notranslate">
  <html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Language" content="en">
</head>
<body class="admin" id="<%= params[:controller].parameterize %>">
  <% if !flash[:notice].blank? %>
    <div class="notice <%= flash[:type] %>">
      <div class="bar">
        <div class="vert">
          <%= flash[:notice].html_safe %>
        </div>
      </div>
    </div>
  <% end %>
  <main>
    <%= render 'access/top_bar' %>
    <div id="border">
      <% if @form_object %>
      	<%= error_messages_for(@form_object) %>
      <% end %>
      <section id="page_content">
      	<%= yield %>
      </section>
    </div>
  </main>
</body>
</html>
