<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
	<title>Purchase College Graphic Design BFA Program</title>
	<%= stylesheet_link_tag "public", :media => "all", "data-turbolinks-track" => true if !public? %>
	<%= javascript_include_tag "application", "public", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta charset="UTF-16">
	<meta name="description" content="Graphic Design BFA Program, School of Art + Design, Purchase College, SUNY">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-75719209-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body class="public <%= @gradient_state %> <%= @pattern_state %>" id="<%= params[:controller].parameterize %>_controller" <%= color('bg', @p, 'text', @s, 'border', @s) %>>
	<div id="gradient">
		<%= render 'public/gradient_bg', :gradient => @gradient %>
	</div>
	<div id="pattern">
		<%= render 'public/pattern_bg', :pattern => @pattern %>
	</div>
	<% if !flash[:notice].blank? %>
		<div class="notice <%= flash[:type] %>">
			<div class="bar">
				<div class="vert">
					<%= flash[:notice].html_safe %>
				</div>
			</div>
		</div>
	<% end %>
	<main>
		<%= render 'public/top_bar' %>

		<aside class="static" id="side_bar">
			<%= render 'public/side_bar' %>
		</aside>
		
		<div id="border" <%= color('border', @s) %>>
			<section id="page_content">
				<%= yield %>
			</section>
		</div>

		<%= render 'public/about' %>
		
	</main>
	<div id="hiddenPalette" data-primary="<%= @p %>" data-secondary="<%= @s %>"></div>
</body>
</html>
